* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-weight: bold;
    font-size: 2em;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
  background-color: red;
  text-align: center;
}

.container {
  display: flex;
  flex-grow: 1;
}

div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

p {
  flex-grow: 1;
  background-color: rgba(255, 217, 46, 0.644);
  text-align: center;
  padding-top: 50px;
}

section {
  flex-grow: 2;
  background-color: white;
  text-align: center;
  padding-top: 50px;
}

aside {
  flex-grow: 1;
  text-align: center;
  background-color: greenyellow;
  padding-top: 50px;
}
footer {
  background-color: aqua;
  text-align: center;
  padding: 20px;
  width: 100%;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  section {
  order: 1;
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}
p {
  order: 2;
  flex-grow: 1;
}
aside {
  order: 3;
  flex-grow: 1;
}
}

@media (max-width: 1024px) and (min-width: 481px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

section {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

 p, aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    order: 2;
    text-align: center;
  }
}


