nav ul {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    width: auto;
    text-align: center;
}

li {
    display: inline-block;
    margin: 15px 15px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    margin: 15px 15px;
}
h1 {
    margin: 15px;
    padding: 20px;
    border: 5px solid blue;
    background-color: lightgray;
    width: 300px;
    height: 100px;
    text-align: center;
}

p {
    margin: 10px;
    padding: 10px;
    border: 2px dashed green;
    background-color: lightyellow;
    width: 300px;
    height: auto;
    box-sizing: border-box;
}