body {
  height: 5000px;
  width: auto;
}
nav ul {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  width: auto;
  text-align: center;
}

li {
  display: inline-block;
  margin: 15px 15px;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  margin: 15px 15px;
}
h1 {
  position: relative;
  top: 20px;
  left: 10px;
  margin: 20px 500px;
  padding: 20px;
  border: 5px solid blue;
  background-color: lightgray;
  width: 300px;
  height: 100px;
  text-align: center;
}

img {
  display: inline-block;
  margin: 20px auto;
  border: 4px solid orange;
  width: 50vw;
  height: 50vh;
}

section {
  position: relative;
  display: inline-block;
}

p {
  position: absolute;
  top: 90px;
  left: 15px;
  margin: 15px;
  border: 2px dashed green;
  background-color: lightyellow;
  width: 100%;
  max-width: 200px;
  height: 100%;
  box-sizing: border-box;
}

.sidebar {
  width: 150px;
  height: auto;
  border: 2px solid red;
  background-color: lightblue;
  text-align: center;
}
.sticky {
  position: sticky;
  top: 0;
  background: yellow;
  padding: 10px;
}
